<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <script src="https://kit.fontawesome.com/2f2669a2e9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ads-partners.coupang.com/g.js"></script>
    <script src="/static/js/adNum.js"></script>
    <script data-ad-client="ca-pub-1432916343353764" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>딸기의 놀라운 효능 7가지! 알고 먹으면 더 좋은 딸기 | Benefit1004</title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/menu.css" />
    <link rel="stylesheet" href="/static/css/search.css" />
    <link rel="stylesheet" href="/static/css/intro.css" />
    <link rel="stylesheet" href="/static/css/benefit.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/ad.css" />
    <!-- Meta -->
    <meta
      name="description"
      content="우리 주변에서 쉽게 찾을 수 있는 딸기. 우리가 몰랐던 딸기의 효능들에는 무엇이 있을까? 1. 피부를 아름답게 해준다. 2. 체중 감량에 도움을 준다. 3. 장 건강에 도움을 준다. 4. 피로 회복에 좋다. 5. 탈모를 예방합니다. 6. 눈 건강에 도움을 준다. 7. 임산부에게 좋습니다 "
    />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Benefit1004" />
    <meta property="og:title" content=" 딸기의 놀라운 효능 7가지! 알고 먹으면 더 좋은 딸기 | Benefit1004" />
    <meta
      property="og:description"
      content="우리 주변에서 쉽게 찾을 수 있는 딸기 우리가 몰랐던 딸기의 효능들에는 무엇이 있을까? 1. 피부를 아름답게 해준다. 2. 체중 감량에 도움을 준다. 3. 장 건강에 도움을 준다. 4. 피로 회복에 좋다. 5. 탈모를 예방합니다. 6. 눈 건강에 도움을 준다. 7. 임산부에게 좋습니다 "
    />
    <meta property="og:image" content="/static/img/strawberry/strawberry_1.jpg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="750" />
  </head>
  <body>
    <section id="header">
      <div class="header__logo">Benefit1004</div>
      <div class="header__menu">
        <input type="text" class="header__search__input" placeholder="검색어를 입력하세요." /> <i class="fas fa-search header__search__icon"></i>
        <i class="fas fa-bars header__menu__icon"></i>
      </div>
    </section>
    <section id="menu" class="menu">
      <div class="menu__items"><div class="menu__item menu__search">검색하기</div></div>
    </section>
    <main>
      <section id="intro">
        <div class="intro__left">
          <div class="intro__item">
            <div class="intro__item__box">
              <div class="intro__item__title intro__title">딸기&nbsp;</div>
              <div class="intro__item__description">
                우리 주변에서 쉽게 볼수 있는 딸기는 맛이 좋을 뿐만 아니라 몸에 좋은 효능들이 많이 있다. 알고 먹으면 더 맛있는 딸기. 딸기 효능들에 대해 알아보자.
              </div>
            </div>
            <div class="intro__item__imgs">
              <i class="fas fa-angle-left intro__item__img__left"></i>
              <img src="/static/img/strawberry/strawberry_1.jpg" alt="strawberry" srcset="" class="intro__item__img__style" />
              <i class="fas fa-angle-right intro__item__img__right"></i>
            </div>
          </div>
        </div>
        <div class="intro__right">
          <div class="intro__class">
            <div class="intro__class__title intro__title">분류&nbsp;</div>
            <div class="intro__class__description intro__description">과일</div>
          </div>
          <div class="intro__kcal">
            <div class="intro__kcal__title intro__title">칼로리&nbsp;</div>
            <div class="intro__kcal__description intro__description">100g 당 33 Kcal</div>
          </div>
          <div class="intro__benefit">
            <div class="intro__benefit__title intro__title">효능&nbsp;</div>
            <div class="intro__benefit__tags intro__description">
              <div class="intro__benefit__item tag">피부 미용</div>
              <div class="intro__benefit__item tag">체중 감량</div>
              <div class="intro__benefit__item tag">장 건강</div>
              <div class="intro__benefit__item tag">피로 회복</div>
              <div class="intro__benefit__item tag">탈모 예방</div>
              <div class="intro__benefit__item tag">눈 건강</div>
              <div class="intro__benefit__item tag">임산부 건강</div>
            </div>
          </div>
        </div>
      </section>
      <section id="benefits">
        <div class="benefit" data-benefitnum="0">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">1. 피부를 아름답게 해준다.&nbsp;</div>
            <div class="benefit__body">
              딸기의 비타민C는 우리의 면역체계에 도움뿐만 아니라 피부 미용에도 좋다. 비타민 C는 멜라닌 세포가 자라나는 것을 막고 우리 피부를 환하게 만든다. 또한 노화로부터 생기는
              주름을 예방한다.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/skin.jpg" class="benefit__img__style" alt="skin" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="1">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">2. 체중 감량에 도움을 준다.&nbsp;</div>
            <div class="benefit__body">
              만약 다이어트를 계획하고 있다면 딸기가 도움이 될 것이다. 딸기는 100g당 33칼로리로 낮은 열량에 비해, 다이어트에 도움이 되는 식이섬유와 미네랄 성분이 풍부하다.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/diet.jpg" class="benefit__img__style" alt="diet" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="2">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">3. 장 건강에 도움을 준다.&nbsp;</div>
            <div class="benefit__body">풍부한 식이섬유는 당신의 장 운동을 촉진시키고 소화 기능을 개선한다. 장이 활발히 움직임에 따라 변비를 예방하고 장 속 유해균을 억제한다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/digestion.jpg" class="benefit__img__style" alt="digestion" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="3">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">4. 피로 회복에 좋다.&nbsp;</div>
            <div class="benefit__body">딸기는 다른 과일에 비해서 비타민C 함량이 높은 과일이다. 이 비타민 C 성분은 우리의 피로를 회복시키고 에너지를 충전시키는 역할을 한다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/fatigue.jpg" class="benefit__img__style" alt="fatigue" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="4">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">5. 탈모를 예방합니다.&nbsp;</div>
            <div class="benefit__body">
              당신의 머리카락에 윤기가 없고 탈모가 걱정이라면 딸기를 먹어보는 것을 추천한다. 딸기의 비타민C는 우리 모공을 건강하게 만들고, 비타민B와 엽산은 탈모를 예방한다.
              뿐만아니라 풍부한 마그네슘은 두피에 트러블이 일어나지 않도록 돕는다.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/hair loss.jpg" class="benefit__img__style" alt="hair loss" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="5">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">6. 눈 건강에 도움을 준다.&nbsp;</div>
            <div class="benefit__body">
              딸기의 안토시아닌 성분은 우리 눈의 망막을 보호하고 시력을 개선한다. 또 옵신이라는 단백질 성분의 재생을 도와 눈의 피로를 줄인다. 이 성분들은 블루베리에서도 찾을 수
              있다.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/eye.jpg" class="benefit__img__style" alt="eye" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="6">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">7. 임산부에게 좋습니다&nbsp;</div>
            <div class="benefit__body">
              딸기는 대표적으로 임산부에게 좋은 음식 중 하나이다. 딸기의 엽산 성분은 임산부 건강과 태아의 성장에 좋다. 또 임산부가 우울해질 수 있는 호로몬을 억제하여 우을증
              예방에도 도움을 준다.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/pregnant woman.jpg" class="benefit__img__style" alt="pregnant woman" srcset="" /></div>
        </div>
        <!-- -->
      </section>
    </main>
    <!-- main END -->
    <div id="adBlock__asdide">
      <div class="adBlock">
        <script>
          new PartnersCoupang.G({ id: adAsideNum });
        </script>
      </div>
      <div class="adBlock">
        <script>
          new PartnersCoupang.G({ id: adAsideNum2 });
        </script>
      </div>
      <div class="adBlock">
        <script>
          new PartnersCoupang.G({ id: adAsideNum });
        </script>
      </div>
    </div>
    <div id="adBlock__footer">
      <script>
        new PartnersCoupang.G({ id: adFooterNum });
      </script>
    </div>
    <div id="adBlock__test"></div>
    <section id="footer"></section>
    <!-- -->
    <script src="/static/js/load.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/util.js"></script>
  </body>
</html>
