<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/2f2669a2e9.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/search.css" />
    <link rel="stylesheet" href="/static/css/intro.css" />
    <link rel="stylesheet" href="/static/css/benefit.css" />
  </head>
  <body>
    <section id="header">
      <div class="header__logo">Benefit1004</div>
      <div class="header__menu">
        <input type="text" class="header__search__input" placeholder="검색어를 입력하세요." />
        <i class="fas fa-search header__search__icon"></i>
        <i class="fas fa-bars header__menu__icon"></i>
      </div>
    </section>
    <section id="aside_right"></section>
    <section id="intro">
      <div class="intro__left">
        <div class="intro__item">
          <div class="intro__item__title intro__title">바나나 &nbsp;</div>
          <div class="intro__item__description intro__description">
            바나나는 파초과 파초속의 여러해살이 식물과 열매를 두루 일컫는 말이다. 바나나는 열대 아시아, 인도, 말레이시아
            등지가 바나나의 원산지이지만, 현재의 주된 바나나 생산 지역은 인도, 브라질, 필리핀, 에콰도르 등이다.
          </div>
          <div class="intro__item__imgs">
            <img src="/static/img/banana/banana_1.jpg" alt="" srcset="" class="intro__item__img__style" />
            <img src="/static/img/banana/banana_2.jpg" alt="" srcset="" class="intro__item__img__style" />
          </div>
        </div>
      </div>
      <div class="intro__right">
        <div class="intro__class">
          <div class="intro__class__title intro__title">분류&nbsp;</div>
          <div class="intro__class__description intro__description">파초속 파초과</div>
        </div>
        <div class="intro__nutrients">
          <div class="intro__nutrients__title intro__title">주요 영양 성분&nbsp;</div>
          <div class="intro__nutrients__description intro__description">
            탄수화물, 단백질, 비타민, 칼슘, 마그네슘, 단백질, 비타민, 칼슘, 마그네슘
          </div>
        </div>
        <div class="intro__benefit">
          <div class="intro__benefit__title intro__title">효능&nbsp;</div>
          <div class="intro__benefit__items intro__description">
            <div class="intro__benefit__item tags">피부 미용</div>
            <div class="intro__benefit__item tags">피부 미용</div>
            <div class="intro__benefit__item tags">피부 미용</div>
            <div class="intro__benefit__item tags">피부 미용</div>
            <div class="intro__benefit__item tags">피부 미용</div>
          </div>
        </div>
      </div>
    </section>
    <section id="benefits">
      <div class="benefit" data-benefitnum="0">
        <div class="benefit__left">
          <div class="benefit__haeder article__header benefit__title">1. 혈압에 좋다 &nbsp;</div>
          <div class="benefit__body">
            지나친 염분이나 칼륨의 부족은 혈압을 관리하기 어려운 이유 중 하나이다. 다행히도 바나나는 많은 양의 칼륨을
            제공하는 과일로 고혈압을 앓는 사람들에게 효과적이다.
          </div>
        </div>
        <div class="benefit__right">
          <img src="/static/img/diet.jpg" class="benefit__img__style" alt="" srcset="" />
        </div>
      </div>
      <!--  -->
      <div class="benefit" data-benefitnum="1">
        <div class="benefit__left">
          <div class="benefit__haeder article__header benefit__title">1. 피부 미용</div>
        </div>
        <div class="benefit__right">
          <img src="/static/img/diet.jpg" class="benefit__img__style" alt="" srcset="" />
        </div>
      </div>
      <!--  -->
    </section>
    <section id="search"></section>
    <section id="footer"></section>

    <!--  -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/search.js"></script>
    <script src="/static/js/util.js"></script>
  </body>
</html>
