<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/2f2669a2e9.js" crossorigin="anonymous"></script>
    <title>Document</title>

    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/search.css" />
    <link rel="stylesheet" href="/static/css/article.css" />
  </head>
  <body>
    <section id="header">
      <div class="header__logo">Benefit1004</div>
      <div class="header__menu">
        <i class="fas fa-search header__search__icon"></i>
        <i class="fas fa-bars header__menu__icon"></i>
      </div>
    </section>
    <section id="aside_right"></section>
    <section id="articles">
      <div class="intro">
        <img src="/static/img/banana.jpg" alt="" srcset="" class="intro__picture" />
        <div class="intro__description">
          <div class="article">
            <div class="article__header">피부 미용에 도움이 됩니다.</div>
            <div class="article__body">
              <div class="article__body__img"></div>
              <div class="article__body__content">
                asd
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="benefits"></div>
      <div class="tips">
        <div class="tip__save"></div>
        <div class="tip__notice"></div>
      </div>
      <div class="tags">
        <div class="tag"></div>
        <div class="moreItem"></div>
      </div>
    </section>
    <section id="search"></section>
    <section id="footer"></section>
  </body>
</html>
