<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/2f2669a2e9.js" crossorigin="anonymous"></script>
    <title>Document</title>

    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/search.css" />
    <link rel="stylesheet" href="/static/css/article.css" />
  </head>
  <body>
    <section id="header">
      <div class="header__logo">Benefit1004</div>
      <div class="header__menu">
        <i class="fas fa-search header__search__icon"></i>
        <i class="fas fa-bars header__menu__icon"></i>
      </div>
    </section>
    <section id="aside_right"></section>
    <section id="intro">
      <div class="intro__left">
        <div class="intro__description">
          <div class="intro__description__title"></div>
          <div class="intro__description__content"></div>
        </div>
      </div>
      <div class="intro__right">
        <div class="intro__classification"></div>
      </div>
    </section>
    <section id="benefits"></section>
    <section id="search"></section>
    <section id="footer"></section>
  </body>
</html>
