<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section id="header"></section>
    <section id="article">
      <div class="intro">
        <div class="intro__picture"></div>
        <div class="intro__description"></div>
      </div>
      <div class="benefits"></div>
      <div class="tips">
        <div class="tip__save"></div>
        <div class="tip__notice"></div>
      </div>
      <div class="tags">
        <div class="tag"></div>
        <div class="moreItem"></div>
      </div>
    </section>
    <section id="search"></section>
    <section id="footer"></section>
  </body>
</html>
