<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/plus.css" />
    <title>아이템 추가 - 어드민사이트 dda asasdasddassd</title>
  </head>
  <body>
    <section id="main">
      <div class="block">
        <div class="caption">아이템 이름:</div>
        <input type="text" class="input__item__name__ko name" />
        <input type="text" class="input__item__name__en name" />
      </div>
      <div class="block">
        <div class="caption">아이템 설명:</div>
        <textarea name="" id="" cols="30" rows="10" class="input__item__description__ko description"></textarea>
        <textarea name="" id="" cols="30" rows="10" class="input__item__description__en description"></textarea>
      </div>
      <div class="block">
        <div class="caption">아이템 분류:</div>
        <input type="text" class="input__item__classification__ko classification" />
        <input type="text" class="input__item__classification__en classification" />
      </div>
      <div class="block">
        <div class="caption">아이템 칼로리:</div>
        <input type="text" class="input__item__kcal" />
      </div>
      <div class="block">
        <div class="caption">아이템 효능 태그:</div>
        <div class="pushblock">
          <div class="benefit__block">
            <input type="text" class="input__item__tag" />
            <hr />
            <textarea name="" id="" cols="30" rows="10" class="input__item__benefit__ko benefit"></textarea>
            <textarea name="" id="" cols="30" rows="10" class="input__item__benefit__en benefit"></textarea>
            <hr />
          </div>
        </div>
        <button class="input__plusBtn">추가</button>
        <button class="submitBtn">완료</button>
      </div>
    </section>
    <!-- !!! -->
    <section id="result">
      <div class="resultArea_ko"></div>
      <div class="resultArea_en"></div>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/plus.js"></script>
  </body>
</html>
