#adBlock__footer {
  display: none;
  min-height: 100px;
  width: 100%;
  background-color: rosybrown;
}
#adBlock__asdide {
  position: absolute;
  right: 5vw;
  top: 28vh;
  width: 20vw;
  min-height: 100vh;
  background-color: royalblue;
}
iframe {
  width: 100%;
}
@media (max-width: 1025px) {
  iframe {
    width: 100vw;
    height: 100px;
    background-color: white;
  }
  #adBlock__footer {
    display: block;
    position: fixed;
    bottom: -5px;
    margin-left: 0;
  }
  #adBlock__asdide {
    display: none;
  }
}
