aside {
  position: absolute;
  width: 25%;
  right: 0;
  top: 30vh;
  min-height: 70vh;
  margin: auto;
  /*   background-color: teal; */
}

.adBlock__aside {
  margin-bottom: 20vh;
}
.adBlock__footer {
  display: none;
}
iframe {
  width: 50vw;
  margin: auto;
}
@media (max-width: 1025px) {
  iframe {
    width: 100vw;
    height: 100px;
    background-color: white;
  }
  .adBlock__footer {
    display: block;
    position: fixed;
    bottom: -5px;
    margin-left: 0;
  }
}
