.adBlock {
  width: 100%;
  height: 100%;
  margin-bottom: 40vh;
}

#adBlock__asdide {
  position: absolute;
  right: 6vw;
  top: 28vh;
  width: 16vw;
  min-height: 100vh;
}

#adBlock__amazoneFooter {
  margin: 0 20%;
}

@media (max-width: 1025px) {
  #adBlock__amazoneFooter {
    margin: 0;
  }
  #adBlock__asdide {
    display: none;
  }
}
