#intro {
  display: flex;
  width: 90%;
  min-height: 50vh;
  margin: auto;
  margin-top: 20vh;
  background-color: cadetblue;
}

.intro__left {
  width: 65%;
  min-height: 50vh;
  background-color: darkolivegreen;
}

.intro__right {
  margin-left: 5%;
  width: 35%;
  min-height: 50vh;
  background-color: darkgoldenrod;
}
