#benefits {
  width: 55%;
  margin: auto;
  margin-top: 20vh;
  /*   background-color: darkgreen; */
  margin-bottom: 15vh;
}
.benefit {
  display: flex;
  width: 100%;
  min-height: 40vh;
  justify-content: center;
  margin-bottom: 15vh;
  /*   background-color: beige; */
}
.benefit__title {
  display: block;
  padding: 5px;
  text-indent: 15px;
  color: #0a0a76;
  font-size: 50px;
  border-left: 10px solid #0a0a76;

  font-family: "Black Han Sans", sans-serif;
}
.benefit__body {
  margin-top: 5vh;
}
.benefit__left {
  width: 45%;
  height: 100%;

  /*   background-color: darkcyan; */
}

.benefit__right {
  margin-left: 5%;
  width: 50%;
  height: 100%;

  /*   background-color: darkkhaki; */
}
.benefit__img__style {
  width: 80%;
  height: 100%;
  background-color: rebeccapurple;
}
