#benefits {
  width: 55%;
  margin: auto;
  margin-top: 20vh;
  /*   background-color: darkgreen; */
  margin-bottom: 15vh;
}
.benefit {
  display: flex;
  width: 100%;
  min-height: 45vh;
  justify-content: space-between;
  margin-bottom: 15vh;
  font-family: "Do Hyeon", sans-serif;
  /* s */
}
.benefit__title {
  display: block;
  padding: 5px;
  text-indent: 15px;
  background-color: #001c40;
  color: #ffffff;
  font-size: 35px;
  font-family: "Do Hyeon", sans-serif;
}
.benefit__body {
  margin-top: 5vh;
  font-size: 20px;
  line-height: 35px;
  font-family: "Noto Sans KR", sans-serif;
}
.benefit__left {
  width: 47.5%;
  height: 100%;

  /*   background-color: darkcyan; */
}

.benefit__right {
  width: 47.5%;
  height: 100%;

  /*   background-color: darkkhaki; */
}
.benefit__img__style {
  width: 100%;
  height: 100%;
  background-color: rebeccapurple;
}
