#footer {
  width: 100%;
  min-height: 15vh;
  padding: 5vh;
  text-align: center;
  margin: auto;
  font-family: "Do Hyeon", sans-serif;
  background-color: #222c3e;
  color: white;
}
.footer__copyright {
  display: block;
}
.footer__email {
  -ms-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}
@media (max-width: 767px) {
  #footer {
    min-height: 35vh;
  }
}
@media (max-width: 1024px) {
  #footer {
    min-height: 25vh;
  }
}
