@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

#header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: #57ae8c;
}

.header__logo {
  display: inline-block;
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 35px;
  margin-left: 2%;
  cursor: pointer;
}

.header__menu {
  display: flex;
  width: 85%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2%;
}

.header__menu__icon {
  font-size: 40px;
  color: white;
}
