#searchM {
  display: flex;
  align-items: center;
  max-width: 1200px;
  height: 10vh;
  border-radius: 10px;
  margin: auto;
  margin-top: 15vh;
}
.searchM__input {
  margin-left: 5%;
  text-indent: 10px;
  width: 80%;
  height: 100%;
  font-size: 30px;
  border: 1px solid #ededed;
  background-color: #ededed;
  border-radius: 2vh 0 0 2vh;
}
.icon__block {
  cursor: pointer;
  display: flex;
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #607d8b;
  border: 1px solid #607d8b;
  border-radius: 0 2vh 2vh 0;
}

.searchM__icon {
  align-items: center;
  font-size: 5vh;
  color: white;
}

.ui-menu-item-wrapper {
  padding-top: 20px;
  display: flex;
  font-size: 3vh;
  align-items: center;
  width: 100%;
  height: 8vh;
}

.ui-menu {
  border-radius: 15px !important;
}
.ui-menu-item-wrapper::after,
.ui-menu-item-wrapper::selection,
.ui-menu-item-wrapper::before,
.ui-menu-item-wrapper:hover,
.ui-menu-item-wrapper:valid,
.ui-menu-item-wrapper:enabled,
.ui-menu-item-wrapper:visited,
.ui-menu-item-wrapper:link,
.ui-menu-item-wrapper:focus,
.ui-menu-item-wrapper:active,
.ui-menu-item-wrapper:in-range,
.ui-menu-item-wrapper:out-of-range {
  border-radius: 15px !important;
  background-color: #4e73df !important;
  border: 1px solid #4e73df !important;
}

/*  */
/*  */

.header__search__input {
  display: none;
  width: 40%;
  height: 60%;
  margin-right: 30px;
  background-color: white;
}

.header__search__icon {
  font-size: 30px;
  color: white;
  margin-right: 1%;
}

.showSearchInput {
  animation-name: showSearchInput;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.hideSearchInput {
  animation-name: hideSearchInput;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes showSearchInput {
  from {
    width: 0%;
  }
  to {
    width: 40%;
  }
}

@keyframes hideSearchInput {
  0% {
    width: 40%;
  }
  100% {
    width: 0.5%;
  }
}

@media (max-width: 1024px) {
  .searchM__input {
    margin-left: 2.5%;
    width: 80%;
  }
  .icon__block {
    width: 15%;
  }
}
