#searchM {
  display: flex;
  align-items: center;
  max-width: 1200px;
  height: 10vh;
  border-radius: 10px;
  margin: auto;
  margin-top: 15vh;
}

.searchM__input {
  margin-left: 1%;
  text-indent: 10px;
  width: 97%;
  height: 100%;
  font-size: 30px;
  border: 1px solid #ededed;
  background-color: #ededed;
  border-radius: 2vh 0 0 2vh;
}
.icon__block {
  display: flex;
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #4e73df;
  border: 1px solid #4e73df;
  border-radius: 0 2vh 2vh 0;
}
.searchM__icon {
  align-items: center;
  font-size: 5vh;
  color: white;
}

.ui-menu-item-wrapper {
  display: flex;
  font-size: 25px;
  align-items: center;
  width: 100%;
  height: 8vh;
}

.ui-menu-item-wrapper:hover,
.ui-menu-item-wrapper:visited,
.ui-menu-item-wrapper:link,
.ui-menu-item-wrapper:focus,
.ui-menu-item-wrapper:active {
  background-color: #ba9d8a;
  border: 1px solid #ba9d8a;
}

/*  */
/*  */

.header__search__input {
  display: none;
  width: 40%;
  height: 60%;
  margin-right: 30px;
  background-color: white;
}

.header__search__icon {
  font-size: 30px;
  color: white;
  margin-right: 1%;
}

.showSearchInput {
  animation-name: showSearchInput;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.hideSearchInput {
  animation-name: hideSearchInput;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes showSearchInput {
  from {
    width: 0%;
  }
  to {
    width: 40%;
  }
}

@keyframes hideSearchInput {
  0% {
    width: 40%;
  }
  100% {
    width: 0.5%;
  }
}

@media (max-width: 1025px) {
  #searchM {
    width: 90%;
    height: 40px;
    border-radius: 4px;
  }
  .searchM__input {
    font-size: 22px;
  }
}
