<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <script src="https://kit.fontawesome.com/2f2669a2e9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ads-partners.coupang.com/g.js"></script>
    <script src="/static/js/adNum.js"></script>
    <script data-ad-client="ca-pub-1432916343353764" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>7 Health benefits of apple! Let's check it out | Benefit1004</title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/menu.css" />
    <link rel="stylesheet" href="/static/css/search.css" />
    <link rel="stylesheet" href="/static/css/intro.css" />
    <link rel="stylesheet" href="/static/css/benefit.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/ad_en.css" />
    <!-- Meta -->
    <meta
      name="description"
      content="Wonderful health benefits of apple you might not know about. 1. Good for dental health 2. Improve brain function 3. Good for digestive health 4. Reduce your risk of diabetes 5. Detoxify the liver 6. Make your skin beautiful 7. Improve your immune system "
    />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Benefit1004" />
    <meta property="og:title" content=" 7 Health benefits of apple! | Benefit1004" />
    <meta
      property="og:description"
      content="Wonderful health benefits of apple you might not know about. 1. Good for dental health 2. Improve brain function 3. Good for digestive health 4. Reduce your risk of diabetes 5. Detoxify the liver 6. Make your skin beautiful 7. Improve your immune system "
    />
    <meta property="og:image" content="/static/img/apple/apple_1.jpg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="750" />
  </head>
  <body>
    <section id="header">
      <div class="header__logo">Benefit1004</div>
      <div class="header__menu">
        <input type="text" class="header__search__input" placeholder="" /> <i class="fas fa-search header__search__icon"></i> <i class="fas fa-bars header__menu__icon"></i>
      </div>
    </section>
    <section id="menu" class="menu">
      <div class="menu__items"><div class="menu__item menu__search">search</div></div>
    </section>
    <main>
      <section id="intro">
        <div class="intro__left">
          <div class="intro__item">
            <div class="intro__item__box">
              <div class="intro__item__title intro__title">apple&nbsp;</div>
              <div class="intro__item__description">
                Apples are popular because of their crunchy texture and sweet-and-sour taste. Knowing their efficacy makes them more delicious. Let's look at the benefits of
                apples.
              </div>
            </div>
            <div class="intro__item__imgs">
              <i class="fas fa-angle-left intro__item__img__left"></i> <img src="/static/img/apple/apple_1.jpg" alt="apple" srcset="" class="intro__item__img__style" />
              <i class="fas fa-angle-right intro__item__img__right"></i>
            </div>
          </div>
        </div>
        <div class="intro__right">
          <div class="intro__class">
            <div class="intro__class__title intro__title">Category&nbsp;</div>
            <div class="intro__class__description intro__description">fruit</div>
          </div>
          <div class="intro__kcal">
            <div class="intro__kcal__title intro__title">Calorie&nbsp;</div>
            <div class="intro__kcal__description intro__description">52 Kcal (per 100g)</div>
          </div>
          <div class="intro__benefit">
            <div class="intro__benefit__title intro__title">Good for&nbsp;</div>
            <div class="intro__benefit__tags intro__description">
              <div class="intro__benefit__item tag">teeth</div>
              <div class="intro__benefit__item tag">brain</div>
              <div class="intro__benefit__item tag">digestion</div>
              <div class="intro__benefit__item tag">diabetes</div>
              <div class="intro__benefit__item tag">liver</div>
              <div class="intro__benefit__item tag">skin</div>
              <div class="intro__benefit__item tag">immunity</div>
            </div>
          </div>
        </div>
      </section>
      <section id="benefits">
        <div class="benefit" data-benefitnum="0">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">1. Good for dental health&nbsp;</div>
            <div class="benefit__body">Apples reduce the bacteria and germs that cause tooth decay. This is because eating an apple promotes the secretion of saliva.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/teeth.jpg" class="benefit__img__style" alt="teeth" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="1">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">2. Improve brain function&nbsp;</div>
            <div class="benefit__body">
              The antioxidant properties in apples increase our brain function. Apples protect the brain from aging and disease and help improve memory.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/brain.jpg" class="benefit__img__style" alt="brain" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="2">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">3. Good for digestion health&nbsp;</div>
            <div class="benefit__body">
              There is an ingredient in apples called pectin. Pectin makes our bowels work regularly and prevents constipation and diarrhea. This is a lot in the peel of the apple.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/digestion.jpg" class="benefit__img__style" alt="digestion" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="3">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">4. Reduce your risk of diabetes&nbsp;</div>
            <div class="benefit__body">
              The soluble fiber in apples helps reduce blood sugar levels. Studies have shown that eating one apple a day can significantly lower your risk of developing diabetes.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/diabetes.jpg" class="benefit__img__style" alt="diabetes" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="4">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">5. Detoxify the liver&nbsp;</div>
            <div class="benefit__body">Eating apples makes your liver better. A glass of apple juice detoxifies our body and keeps the liver healthy.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/liver.jpg" class="benefit__img__style" alt="liver" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="5">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">6. Make your skin beautiful&nbsp;</div>
            <div class="benefit__body">The pactin ingredients in apples can help minimize skin pores. In addition, rich vitamins make our skin clear.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/skin.jpg" class="benefit__img__style" alt="skin" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="6">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">7. Improve your immune system&nbsp;</div>
            <div class="benefit__body">
              Apples protect our body from harmful germs by creating a protective layer in the stomach. In addition, vitamin C improves immune function.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/immunity.jpg" class="benefit__img__style" alt="immunity" srcset="" /></div>
        </div>
        <!-- -->
      </section>
    </main>
    <!-- main END -->
    <div id="adBlock__asdide">
      <div class="adBlock">
        <script type="text/javascript">
          amzn_assoc_placement = "adunit0";
          amzn_assoc_tracking_id = "benefit1004-20";
          amzn_assoc_ad_mode = "search";
          amzn_assoc_ad_type = "smart";
          amzn_assoc_marketplace = "amazon";
          amzn_assoc_region = "US";
          amzn_assoc_default_search_phrase = item;
          amzn_assoc_default_category = "Grocery";
          amzn_assoc_linkid = "f8adf60a8f1550e0a63e6af16fa8b71d";
          amzn_assoc_search_bar = "true";
          amzn_assoc_search_bar_position = "top";
          amzn_assoc_title = "Shop Related Products";
          amzn_assoc_default_browse_node = "16310101";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
      <div class="adBlock">
        <script type="text/javascript">
          amzn_assoc_placement = "adunit0";
          amzn_assoc_tracking_id = "benefit1004-20";
          amzn_assoc_ad_mode = "search";
          amzn_assoc_ad_type = "smart";
          amzn_assoc_marketplace = "amazon";
          amzn_assoc_region = "US";
          amzn_assoc_default_search_phrase = "grocery";
          amzn_assoc_default_category = "Grocery";
          amzn_assoc_linkid = "f8adf60a8f1550e0a63e6af16fa8b71d";
          amzn_assoc_search_bar = "true";
          amzn_assoc_title = "Shop Related Products";
          amzn_assoc_default_browse_node = "16310101";
          amzn_assoc_search_bar_position = "bottom";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
      <div class="adBlock">
        <script type="text/javascript">
          amzn_assoc_placement = "adunit0";
          amzn_assoc_tracking_id = "benefit1004-20";
          amzn_assoc_ad_mode = "search";
          amzn_assoc_ad_type = "smart";
          amzn_assoc_marketplace = "amazon";
          amzn_assoc_region = "US";
          amzn_assoc_default_search_phrase = "food";
          amzn_assoc_default_category = "Grocery";
          amzn_assoc_linkid = "f8adf60a8f1550e0a63e6af16fa8b71d";
          amzn_assoc_search_bar = "true";
          amzn_assoc_title = "Shop Related Products";
          amzn_assoc_default_browse_node = "16310101";
          amzn_assoc_search_bar_position = "bottom";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
    </div>
    <!-- ------------------------------------------------------------------------------- -->
    <div id="adBlock__amazoneFooter">
      <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "benefit1004-20";
        amzn_assoc_ad_mode = "search";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_default_search_phrase = item;
        amzn_assoc_default_category = "Grocery";
        amzn_assoc_linkid = "f8adf60a8f1550e0a63e6af16fa8b71d";
        amzn_assoc_search_bar = "true";
        amzn_assoc_search_bar_position = "top";
        amzn_assoc_title = "Shop Related Products";
        amzn_assoc_default_browse_node = "16310101";
      </script>
      <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    </div>
    <section id="footer"></section>
    <!-- -->
    <script src="/static/js/load.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/util.js"></script>
    <script src="/static/js/search.js"></script>
  </body>
</html>
