<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <script src="https://kit.fontawesome.com/2f2669a2e9.js" crossorigin="anonymous"></script>
    <script src="/static/js/adNum.js"></script>
    <title>TOP 6 Health benefits of grape! Let's check it out | Benefit1004</title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/menu.css" />
    <link rel="stylesheet" href="/static/css/search.css" />
    <link rel="stylesheet" href="/static/css/intro.css" />
    <link rel="stylesheet" href="/static/css/benefit.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/layout.css" />
    <!--     <link rel="stylesheet" href="/static/css/ad.css" /> -->
    <!-- Meta -->
    <meta
      name="description"
      content="Wonderful health benefits of grape you might not know about. 1. Helps for eye health 2. Good for dental health. 3. Anticancer effect 4. Good for fatigue recovery. 5. Good for blood pressure 6. Make your skin beautiful. "
    />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Benefit1004" />
    <meta property="og:title" content="Top 6 Health benefits of grape | Benefit1004" />
    <meta
      property="og:description"
      content="Wonderful health benefits of grape you might not know about. 1. Helps for eye health 2. Good for dental health. 3. Anticancer effect 4. Good for fatigue recovery. 5. Good for blood pressure 6. Make your skin beautiful. "
    />
    <meta property="og:image" content="/static/img/grape/grape_1.jpg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="750" />
  </head>
  <body>
    <section id="header">
      <div class="header__logo">Benefit1004</div>
      <div class="header__menu">
        <input type="text" class="header__search__input" placeholder="" /> <i class="fas fa-search header__search__icon"></i> <i class="fas fa-bars header__menu__icon"></i>
      </div>
    </section>
    <section id="menu" class="menu">
      <div class="menu__items"><div class="menu__item menu__search">search</div></div>
    </section>
    <main>
      <section id="intro">
        <div class="intro__left">
          <div class="intro__item">
            <div class="intro__item__box">
              <div class="intro__item__title intro__title">grape&nbsp;</div>
              <div class="intro__item__description">
                Grapes are popular for their unique taste. The rich vitamins of grapes are good for fatigue. Grapes are also famous for containing anticancer properties.
              </div>
            </div>
            <div class="intro__item__imgs">
              <i class="fas fa-angle-left intro__item__img__left"></i> <img src="/static/img/grape/grape_1.jpg" alt="grape" srcset="" class="intro__item__img__style" />
              <i class="fas fa-angle-right intro__item__img__right"></i>
            </div>
          </div>
        </div>
        <div class="intro__right">
          <div class="intro__class">
            <div class="intro__class__title intro__title">Category&nbsp;</div>
            <div class="intro__class__description intro__description">fruit</div>
          </div>
          <div class="intro__kcal">
            <div class="intro__kcal__title intro__title">Calorie&nbsp;</div>
            <div class="intro__kcal__description intro__description">67 Kcal (per 100g)</div>
          </div>
          <div class="intro__benefit">
            <div class="intro__benefit__title intro__title">Good for&nbsp;</div>
            <div class="intro__benefit__tags intro__description">
              <div class="intro__benefit__item tag">eye</div>
              <div class="intro__benefit__item tag">teeth</div>
              <div class="intro__benefit__item tag">Anticancer</div>
              <div class="intro__benefit__item tag">fatigue</div>
              <div class="intro__benefit__item tag">blood pressure</div>
              <div class="intro__benefit__item tag">skin</div>
            </div>
          </div>
        </div>
      </section>
      <section id="benefits">
        <div class="benefit" data-benefitnum="0">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">1. Helps for eye health&nbsp;</div>
            <div class="benefit__body">
              The anthocyanin component of grapes protects our eyesight. It also reduces eye fatigue and is good for preventing dry eyes or cataracts.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/eye.jpg" class="benefit__img__style" alt="eye" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="1">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">2. Good for dental health.&nbsp;</div>
            <div class="benefit__body">
              Grapes are good for dental health. The polyphenol component of grapes effectively removes bacteria and viruses that cause tooth decay. Polyphenols are found in the
              seeds of grapes.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/teeth.jpg" class="benefit__img__style" alt="teeth" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="2">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">3. Anticancer effect&nbsp;</div>
            <div class="benefit__body">
              Eating grapes can help get rid of cancer cells. This is due to an ingredient called resveratrolin grapes. This component has excellent sulfation activity so prevents
              cancer cells from growing. Resveratrol is abundant in grape skins.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/anticancer.jpg" class="benefit__img__style" alt="anticancer" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="3">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">4. Good for fatigue recovery.&nbsp;</div>
            <div class="benefit__body">The glucose component of grapes quickly restores the fatigue of our body. In addition, rich vitamins and minerals help boost energy.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/fatigue.jpg" class="benefit__img__style" alt="fatigue" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="4">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">5. Good for blood pressure&nbsp;</div>
            <div class="benefit__body">
              Grapes contain salicylic acid, which cleanses blood vessels. As a result, blood circulation is made smoothly and it helps to lower blood pressure.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/blood pressure.jpg" class="benefit__img__style" alt="blood pressure" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="5">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">6. Make your skin beautiful.&nbsp;</div>
            <div class="benefit__body">
              Grapes promote diuresis. It discharges waste products and toxins out of the skin, thereby reducing skin troubles. In addition, it slows down the aging of the skin
              through antioxidant activity.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/skin.jpg" class="benefit__img__style" alt="skin" srcset="" /></div>
        </div>
        <!-- -->
      </section>
    </main>
    <!-- main END -->
    <div id="adBlock__asdide"></div>
    <div id="adBlock__footer"></div>
    <div id="adBlock__test"></div>

    <section id="footer"></section>
    <!-- -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/util.js"></script>
    <script src="/static/js/search.js"></script>
    <script type="text/javascript">
      amzn_assoc_ad_type = "link_enhancement_widget";
      amzn_assoc_tracking_id = "benefit1004-20";
      amzn_assoc_linkid = "ef19d9d6de07c0c3d6490303fc4a63fd";
      amzn_assoc_placement = "";
      amzn_assoc_marketplace = "amazon";
      amzn_assoc_region = "US";
    </script>
    <script src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>
  </body>
</html>
