<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/js/adNum.js"></script>
    <script src="https://kit.fontawesome.com/2f2669a2e9.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/search.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/menu.css" />
    <link rel="stylesheet" href="/static/css/card.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <title>The benefits of ALL food | Benefit1004</title>
    <!-- Meta -->
    <meta name="description" content="Encyclopedia of benefits - Here are all the food benefits" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Benefit1004" />
    <meta property="og:title" content="The benefits of ALL food | Benefit1004" />
    <meta property="og:description" content="Encyclopedia of benefits - Here are all the food benefits" />
    <meta property="og:image" content="/static/img/logo.png" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="750" />
  </head>
  <body>
    <section id="header"></section>
    <section id="menu" class="menu"></section>
    <main>
      <section id="searchM">
        <input type="text" class="searchM__input searchInput" placeholder="search.." />
        <div class="icon__block">
          <i class="fas fa-search searchM__icon"></i>
        </div>
      </section>
      <div class="hr">Category</div>
      <section id="cards">
        <div class="card card__category">
          <div class="card__icon">
            <i class="fas fa-apple-alt"></i>
          </div>
          <div class="card__category__title">FRUIT</div>
        </div>
        <div class="card card__category">
          <div class="card__icon">
            <i class="fas fa-seedling"></i>
          </div>
          <div class="card__category__title">VEGETABLE</div>
        </div>
        <div class="card card__category">
          <div class="card__icon">
            <i class="fas fa-drumstick-bite"></i>
          </div>
          <div class="card__category__title">MEAT</div>
        </div>
        <div class="card card__category">
          <div class="card__icon">
            <i class="fas fa-fish"></i>
          </div>
          <div class="card__category__title">FISH</div>
        </div>
        <div class="card card__category">
          <div class="card__icon">
            <i class="fas fa-mortar-pestle"></i>
          </div>
          <div class="card__category__title">GRAIN</div>
        </div>
      </section>
      <div class="hr">UPDATE</div>
      <section id="cards" class="cards__item"></section>
    </main>

    <section id="footer"></section>
    <!--     <section id="footer"></section>
    
    <i class="fas fa-search searchM__icon"></i> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/static/js/load.js"></script>
    <script src="/static/js/getData.js"></script>
    <script src="/static/js/search.js"></script>
    <script src="/static/js/indexLayout.js"></script>
  </body>
</html>
