<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <script src="https://kit.fontawesome.com/2f2669a2e9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ads-partners.coupang.com/g.js"></script>
    <script src="/static/js/adNum.js"></script>
    <script data-ad-client="ca-pub-1432916343353764" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>사과의 놀라운 효능 7가지! 알고 먹으면 더 좋은 사과 | Benefit1004</title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/menu.css" />
    <link rel="stylesheet" href="/static/css/search.css" />
    <link rel="stylesheet" href="/static/css/intro.css" />
    <link rel="stylesheet" href="/static/css/benefit.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/ad.css" />
    <!-- Meta -->
    <meta
      name="description"
      content="우리 주변에서 쉽게 찾을 수 있는 사과. 우리가 몰랐던 사과의 효능들에는 무엇이 있을까? 1. 치아 건강에 좋다. 2. 뇌 기능을 향상시킨다. 3. 장 건강에 도움을 준다. 4. 당뇨병 위험을 줄인다. 5. 간을 해독시킨다. 6. 피부를 아름답게 해준다. 7. 면역력을 증진시킨다 "
    />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Benefit1004" />
    <meta property="og:title" content=" 사과의 놀라운 효능 7가지! 알고 먹으면 더 좋은 사과 | Benefit1004" />
    <meta
      property="og:description"
      content="우리 주변에서 쉽게 찾을 수 있는 사과 우리가 몰랐던 사과의 효능들에는 무엇이 있을까? 1. 치아 건강에 좋다. 2. 뇌 기능을 향상시킨다. 3. 장 건강에 도움을 준다. 4. 당뇨병 위험을 줄인다. 5. 간을 해독시킨다. 6. 피부를 아름답게 해준다. 7. 면역력을 증진시킨다 "
    />
    <meta property="og:image" content="/static/img/apple/apple_1.jpg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="750" />
  </head>
  <body>
    <section id="header">
      <div class="header__logo">Benefit1004</div>
      <div class="header__menu">
        <input type="text" class="header__search__input" placeholder="검색어를 입력하세요." /> <i class="fas fa-search header__search__icon"></i>
        <i class="fas fa-bars header__menu__icon"></i>
      </div>
    </section>
    <section id="menu" class="menu">
      <div class="menu__items"><div class="menu__item menu__search">검색하기</div></div>
    </section>
    <main>
      <section id="intro">
        <div class="intro__left">
          <div class="intro__item">
            <div class="intro__item__box">
              <div class="intro__item__title intro__title">사과&nbsp;</div>
              <div class="intro__item__description">사과는 아삭한 식감과 새콤달콤한 맛 때문에 인기가 많다. 알고 먹으면 더 맛있는 사과. 사과의 효능에 대해 알아보자.</div>
            </div>
            <div class="intro__item__imgs">
              <i class="fas fa-angle-left intro__item__img__left"></i> <img src="/static/img/apple/apple_1.jpg" alt="apple" srcset="" class="intro__item__img__style" />
              <i class="fas fa-angle-right intro__item__img__right"></i>
            </div>
          </div>
        </div>
        <div class="intro__right">
          <div class="intro__class">
            <div class="intro__class__title intro__title">분류&nbsp;</div>
            <div class="intro__class__description intro__description">과일</div>
          </div>
          <div class="intro__kcal">
            <div class="intro__kcal__title intro__title">칼로리&nbsp;</div>
            <div class="intro__kcal__description intro__description">100g 당 52 Kcal</div>
          </div>
          <div class="intro__benefit">
            <div class="intro__benefit__title intro__title">효능&nbsp;</div>
            <div class="intro__benefit__tags intro__description">
              <div class="intro__benefit__item tag">치아 건강</div>
              <div class="intro__benefit__item tag">뇌 기능</div>
              <div class="intro__benefit__item tag">장 건강</div>
              <div class="intro__benefit__item tag">당뇨 개선</div>
              <div class="intro__benefit__item tag">간 해독</div>
              <div class="intro__benefit__item tag">피부 미용</div>
              <div class="intro__benefit__item tag">면역력</div>
            </div>
          </div>
        </div>
      </section>
      <section id="benefits">
        <div class="benefit" data-benefitnum="0">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">1. 치아 건강에 좋다.&nbsp;</div>
            <div class="benefit__body">사과는 충치를 유발하는 박테리아와 세균을 줄여준다. 이는 사과를 먹으면 침의 분비가 촉진되기 때문이다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/teeth.jpg" class="benefit__img__style" alt="teeth" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="1">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">2. 뇌 기능을 향상시킨다.&nbsp;</div>
            <div class="benefit__body">사과의 항산화 성분은 우리의 뇌 기능을 향상시킨다. 사과는 뇌의 노화와 질병으로부터 보호하고 기억력 증진에 도움이 된다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/brain.jpg" class="benefit__img__style" alt="brain" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="2">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">3. 장 건강에 도움을 준다.&nbsp;</div>
            <div class="benefit__body">사과 안에는 펙틴이라는 성분이 있다. 펙틴은 우리의 장 운동을 규칙적으로 만들고, 변비와 설사를 예방한다. 이것은 사과의 껍질에 많이 있다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/digestion.jpg" class="benefit__img__style" alt="digestion" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="3">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">4. 당뇨병 위험을 줄인다.&nbsp;</div>
            <div class="benefit__body">사과의 수용성 섬유질은 혈당량을 줄이는데 도움이 된다. 하루 한개의 사과 섭취는 당뇨병 발생 위험을 크게 낮출 수 있다는 연구 결과가 있다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/diabetes.jpg" class="benefit__img__style" alt="diabetes" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="4">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">5. 간을 해독시킨다.&nbsp;</div>
            <div class="benefit__body">사과를 먹는 것은 당신의 간을 건강하게 만든다. 한잔의 사과주스는 우리 몸을 해독하게 만들고 간을 건강하게 유지시킨다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/liver.jpg" class="benefit__img__style" alt="liver" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="5">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">6. 피부를 아름답게 해준다.&nbsp;</div>
            <div class="benefit__body">사과의 팩틴 성분은 피부의 모공을 줄이는데 도움을 줄 수 있다. 또한 풍부한 비타민은 우리 피부를 맑게 만들어 준다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/skin.jpg" class="benefit__img__style" alt="skin" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="6">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">7. 면역력을 증진시킨다&nbsp;</div>
            <div class="benefit__body">사과는 위 안에 보호막을 만들어 유해한 균으로부터 우리 몸을 보호한다. 또 비타민C 성분은 면역기능을 향상시킨다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/immunity.jpg" class="benefit__img__style" alt="immunity" srcset="" /></div>
        </div>
        <!-- -->
      </section>
    </main>
    <!-- main END -->
    <div id="adBlock__asdide">
      <div class="adBlock">
        <script>
          new PartnersCoupang.G({ id: adAsideNum });
        </script>
      </div>
      <div class="adBlock">
        <script>
          new PartnersCoupang.G({ id: adAsideNum2 });
        </script>
      </div>
      <div class="adBlock">
        <script>
          new PartnersCoupang.G({ id: adAsideNum });
        </script>
      </div>
    </div>
    <div id="adBlock__footer">
      <script>
        console.log(adFooterNum);
        new PartnersCoupang.G({ id: adFooterNum });
      </script>
    </div>
    <div id="adBlock__test"></div>
    <section id="footer"></section>
    <!-- -->
    <script src="/static/js/load.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/util.js"></script>
  </body>
</html>
