<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/2f2669a2e9.js" crossorigin="anonymous"></script>
    <title>바나나 효능, 칼로리, 영양성분!!?</title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/menu.css" />
    <link rel="stylesheet" href="/static/css/search.css" />
    <link rel="stylesheet" href="/static/css/intro.css" />
    <link rel="stylesheet" href="/static/css/benefit.css" />
    <!-- Meta -->
    <meta name="description" content="바나나 효능~~~~" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.kgirls.net/ggor/283222" />
    <meta property="og:site_name" content="Benefit1004" />
    <meta property="og:title" content="바나나 효능, 영양성분은? - Benefit1004" />
    <meta property="og:description" content="blah black" />
    <meta property="og:image" content="blahblah" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="750" />
  </head>
  <body>
    <section id="header">
      <div class="header__logo">Benefit1004</div>
      <div class="header__menu">
        <input type="text" class="header__search__input" placeholder="검색어를 입력하세요." />
        <i class="fas fa-search header__search__icon"></i>
        <i class="fas fa-bars header__menu__icon"></i>
      </div>
    </section>
    <section id="menu" class="menu">
      <div class="menu__items">
        <div class="menu__item menu__search">검색하기</div>
      </div>
    </section>
    <section id="intro">
      <div class="intro__left">
        <div class="intro__item">
          <div class="intro__item__box">
            <div class="intro__item__title intro__title">바나나 &nbsp;</div>
            <div class="intro__item__description">
              덥고 습한 지역에서 자라는 바나나는 일년 내내 저렴하게 구매할 수 있다. 다른 과일에 비하여 탄수화물이 풍부하고, 비타민과 무기질 함량도 뛰어나다. 특히 바나나의 식물성
              식이섬유는 변비 예방에 좋다.
            </div>
          </div>
          <div class="intro__item__imgs">
            <i class="fas fa-angle-left intro__item__img__left"></i>
            <img src="/static/img/banana/banana_1.jpg" alt="" srcset="" class="intro__item__img__style" />
            <i class="fas fa-angle-right intro__item__img__right"></i>
          </div>
        </div>
      </div>
      <div class="intro__right">
        <div class="intro__class">
          <div class="intro__class__title intro__title">분류&nbsp;</div>
          <div class="intro__class__description intro__description">과일</div>
        </div>
        <div class="intro__nutrients">
          <div class="intro__nutrients__title intro__title">주요 영양 성분&nbsp;</div>
          <div class="intro__nutrients__description intro__description">
            탄수화물, 비타민A, 비타민C, 칼륨, 인
          </div>
        </div>
        <div class="intro__benefit">
          <div class="intro__benefit__title intro__title">효능&nbsp;</div>
          <div class="intro__benefit__tags intro__description">
            <div class="intro__benefit__item tag">소화 기능</div>
            <div class="intro__benefit__item tag">피부 미용</div>
            <div class="intro__benefit__item tag">혈압 개선</div>
            <div class="intro__benefit__item tag">체중 감량</div>
            <div class="intro__benefit__item tag">스트레스 완화</div>
          </div>
        </div>
      </div>
    </section>
    <section id="benefits">
      <div class="benefit" data-benefitnum="0">
        <div class="benefit__left">
          <div class="benefit__haeder article__header benefit__title">1. 소화 기능에 도움을 준다. &nbsp;</div>
          <div class="benefit__body">
            바나나에 포함된 풍부한 식물성 식유섬유는 우리의 소화 기관에 도움을 준다. 이러한 식유섬유는 우리가 영양분을 더 잘 흡수할 수 있도록 하고 특정 세균들의 공격으로 부터
            보호해준다.
          </div>
        </div>
        <div class="benefit__right">
          <img src="/static/img/benefit/digestion.jpg" class="benefit__img__style" alt="" srcset="" />
        </div>
      </div>
      <!--  -->
      <div class="benefit" data-benefitnum="1">
        <div class="benefit__left">
          <div class="benefit__haeder article__header benefit__title">2. 혈압에 좋다.</div>
          <div class="benefit__body">
            바나나는 대표적으로 칼륨이 높은 과일이다. 바나나의 풍부한 칼륨은 고혈압과 같은 질병으로 부터 우리를 보호해준다.
          </div>
        </div>
        <div class="benefit__right">
          <img src="/static/img/benefit/pressure.jpg" class="benefit__img__style" alt="" srcset="" />
        </div>
      </div>
      <!--  -->
      <div class="benefit" data-benefitnum="2">
        <div class="benefit__left">
          <div class="benefit__haeder article__header benefit__title">3. 피부를 아름답게 해준다.</div>
          <div class="benefit__body">
            바나나에 포함된 비타민A는 피부와 점막을 건강하게 해준다. 또한 다량의 비타민C와 무기질은 노화로 인한 세포 손상을 줄여준다. 바나나의 풍부한 비타민과 무기질들은 피부에
            영양분을 공급한다.
          </div>
        </div>
        <div class="benefit__right">
          <img src="/static/img/benefit/skin.jpg" class="benefit__img__style" alt="" srcset="" />
        </div>
      </div>
      <!--  -->
      <div class="benefit" data-benefitnum="3">
        <div class="benefit__left">
          <div class="benefit__haeder article__header benefit__title">4. 체중 감량에 도움을 준다.</div>
          <div class="benefit__body">
            바나나는 섬유질이 풍부하여 포만감을 준다. 다른 식품에 비하여 지방함량이 적고, 낮은 칼로리 덕분에 다이어트에 도움이 되는 식품이다.
          </div>
        </div>
        <div class="benefit__right">
          <img src="/static/img/benefit/diet.jpg" class="benefit__img__style" alt="" srcset="" />
        </div>
      </div>
      <!--  -->
      <div class="benefit" data-benefitnum="4">
        <div class="benefit__left">
          <div class="benefit__haeder article__header benefit__title">5. 스트레스를 완화해준다.</div>
          <div class="benefit__body">
            바나나에 함유된 트립토판이라는 성분은 세로토닌 생성을 촉진시킨다. 세로토닌은 수면을 유도하고 심신을 안정시켜주는 효능이 있다. 적절한 양의 세로토닌은 우을증과 스트레스
            완화에 도움이 된다.
          </div>
        </div>
        <div class="benefit__right">
          <img src="/static/img/benefit/stress.jpg" class="benefit__img__style" alt="" srcset="" />
        </div>
      </div>
      <!--  -->
    </section>
    <section id="search"></section>
    <section id="footer"></section>

    <!--  -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/util.js"></script>
    <script src="/static/js/search.js"></script>
  </body>
</html>
