<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <script src="https://kit.fontawesome.com/2f2669a2e9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ads-partners.coupang.com/g.js"></script>
    <script src="/static/js/adNum.js"></script>
    <script data-ad-client="ca-pub-1432916343353764" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>당근의 놀라운 효능 5가지! 알고 먹으면 더 좋은 당근 | Benefit1004</title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/menu.css" />
    <link rel="stylesheet" href="/static/css/search.css" />
    <link rel="stylesheet" href="/static/css/intro.css" />
    <link rel="stylesheet" href="/static/css/benefit.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/ad.css" />
    <!-- Meta -->
    <meta
      name="description"
      content="우리 주변에서 쉽게 찾을 수 있는 당근. 우리가 몰랐던 당근의 효능들에는 무엇이 있을까? 1. 눈 건강에 도움을 준다. 2. 항암 효과가 있다. 3. 피부를 아름답게 해준다. 4. 뇌 기능을 향상시킨다. 5. 치아 건강에 좋다. "
    />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Benefit1004" />
    <meta property="og:title" content=" 당근의 놀라운 효능 5가지! 알고 먹으면 더 좋은 당근 | Benefit1004" />
    <meta
      property="og:description"
      content="우리 주변에서 쉽게 찾을 수 있는 당근 우리가 몰랐던 당근의 효능들에는 무엇이 있을까? 1. 눈 건강에 도움을 준다. 2. 항암 효과가 있다. 3. 피부를 아름답게 해준다. 4. 뇌 기능을 향상시킨다. 5. 치아 건강에 좋다. "
    />
    <meta property="og:image" content="/static/img/carrot/carrot_1.jpg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="750" />
  </head>
  <body>
    <section id="header">
      <div class="header__logo">Benefit1004</div>
      <div class="header__menu">
        <input type="text" class="header__search__input" placeholder="검색어를 입력하세요." /> <i class="fas fa-search header__search__icon"></i>
        <i class="fas fa-bars header__menu__icon"></i>
      </div>
    </section>
    <section id="menu" class="menu">
      <div class="menu__items"><div class="menu__item menu__search">검색하기</div></div>
    </section>
    <main>
      <section id="intro">
        <div class="intro__left">
          <div class="intro__item">
            <div class="intro__item__box">
              <div class="intro__item__title intro__title">당근&nbsp;</div>
              <div class="intro__item__description">
                우리 주변에서 쉽게 볼수 있는 당근은 맛이 좋을 뿐만 아니라 몸에 좋은 효능들이 많이 있다. 당근은 다양한 요리에 활용되고 잘 어울린다. 당근 효능들에 대해 알아보자.
              </div>
            </div>
            <div class="intro__item__imgs">
              <i class="fas fa-angle-left intro__item__img__left"></i> <img src="/static/img/carrot/carrot_1.jpg" alt="carrot" srcset="" class="intro__item__img__style" />
              <i class="fas fa-angle-right intro__item__img__right"></i>
            </div>
          </div>
        </div>
        <div class="intro__right">
          <div class="intro__class">
            <div class="intro__class__title intro__title">분류&nbsp;</div>
            <div class="intro__class__description intro__description">채소</div>
          </div>
          <div class="intro__kcal">
            <div class="intro__kcal__title intro__title">칼로리&nbsp;</div>
            <div class="intro__kcal__description intro__description">100g 당 42 Kcal</div>
          </div>
          <div class="intro__benefit">
            <div class="intro__benefit__title intro__title">효능&nbsp;</div>
            <div class="intro__benefit__tags intro__description">
              <div class="intro__benefit__item tag">눈 건강</div>
              <div class="intro__benefit__item tag">항암</div>
              <div class="intro__benefit__item tag">피부 미용</div>
              <div class="intro__benefit__item tag">뇌 기능</div>
              <div class="intro__benefit__item tag">치아 건강</div>
            </div>
          </div>
        </div>
      </section>
      <section id="benefits">
        <div class="benefit" data-benefitnum="0">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">1. 눈 건강에 도움을 준다.&nbsp;</div>
            <div class="benefit__body">
              당근은 비타민 A가 높은 채소로 유명하다. 비타민 A는 우리 눈의 망막을 구성하고 보호하는 주요한 성분이다. 당근을 먹으면 백내장과 안구건조증과 같은 눈 질병을 막고 시력을
              보호하는데 좋다.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/eye.jpg" class="benefit__img__style" alt="eye" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="1">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">2. 항암 효과가 있다.&nbsp;</div>
            <div class="benefit__body">당근에는 강력한 항산화제인 베타 카로틴이 존재한다. 이 성분은 암세포가 자라 몸에 퍼지는 것을 막고 정상 세포의 면역력을 높인다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/anticancer.jpg" class="benefit__img__style" alt="anticancer" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="2">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">3. 피부를 아름답게 해준다.&nbsp;</div>
            <div class="benefit__body">비타민 A성분은 우리 피부의 각질을 제거하고 매끄러운 피부톤을 만드는데 도움을 준다.또 항산화 성분도 풍부하여 노화로부터 피부를 보호한다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/skin.jpg" class="benefit__img__style" alt="skin" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="3">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">4. 뇌 기능을 향상시킨다.&nbsp;</div>
            <div class="benefit__body">
              당근은 우리 뇌의 피로를 회복하고 뇌의 활동을 활발하게 해주는 칼륨 성분이 있다. 또 뇌의 기억력 향상에 필수적인 DHA 성분이 있어 뇌 신경에 좋은 음식이다.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/brain.jpg" class="benefit__img__style" alt="brain" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="4">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">5. 치아 건강에 좋다.&nbsp;</div>
            <div class="benefit__body">
              당근에는 미네랄과 무기질이 풍부해 우리 치아와 잇몸의 면역력을 높이고 외부 세균으로부터 보호한다. 당근은 박테리아와 이물질을 분해하는 성분을 만들고, 입을 깨끗한 상태로
              만드는데 도움이 된다.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/teeth.jpg" class="benefit__img__style" alt="teeth" srcset="" /></div>
        </div>
        <!-- -->
      </section>
    </main>
    <!-- main END -->
    <div id="adBlock__asdide">
      <div class="adBlock">
        <script>
          new PartnersCoupang.G({ id: adAsideNum });
        </script>
      </div>
      <div class="adBlock">
        <script>
          new PartnersCoupang.G({ id: adAsideNum2 });
        </script>
      </div>
      <div class="adBlock">
        <script>
          new PartnersCoupang.G({ id: adAsideNum });
        </script>
      </div>
    </div>
    <div id="adBlock__footer">
      <script>
        new PartnersCoupang.G({ id: adFooterNum });
      </script>
    </div>
    <div id="adBlock__test"></div>
    <section id="footer"></section>
    <!-- -->
    <script src="/static/js/load.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/util.js"></script>
  </body>
</html>
