<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/2f2669a2e9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ads-partners.coupang.com/g.js"></script>
    <script src="/static/js/adNum.js"></script>
    <script data-ad-client="ca-pub-1432916343353764" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>포도의 놀라운 효능 6가지! 알고 먹으면 더 좋은 포도 | Benefit1004</title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/menu.css" />
    <link rel="stylesheet" href="/static/css/search.css" />
    <link rel="stylesheet" href="/static/css/intro.css" />
    <link rel="stylesheet" href="/static/css/benefit.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/ad.css" />
    <!-- Meta -->
    <meta
      name="description"
      content="우리 주변에서 쉽게 찾을 수 있는 포도. 우리가 몰랐던 포도의 효능들에는 무엇이 있을까? 1. 눈 건강에 도움을 준다. 2. 치아 건강에 좋다. 3. 항암 효과가 있다. 4. 피로 회복에 좋다. 5. 혈압에 좋다. 6. 피부를 아름답게 해준다. "
    />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Benefit1004" />
    <meta property="og:title" content=" 포도의 놀라운 효능 6가지! 알고 먹으면 더 좋은 포도 | Benefit1004" />
    <meta
      property="og:description"
      content="우리 주변에서 쉽게 찾을 수 있는 포도 우리가 몰랐던 포도의 효능들에는 무엇이 있을까? 1. 눈 건강에 도움을 준다. 2. 치아 건강에 좋다. 3. 항암 효과가 있다. 4. 피로 회복에 좋다. 5. 혈압에 좋다. 6. 피부를 아름답게 해준다. "
    />
    <meta property="og:image" content="/static/img/grape/grape_1.jpg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="750" />
  </head>
  <body>
    <section id="header">
      <div class="header__logo">Benefit1004</div>
      <div class="header__menu">
        <input type="text" class="header__search__input" placeholder="검색어를 입력하세요." /> <i class="fas fa-search header__search__icon"></i>
        <i class="fas fa-bars header__menu__icon"></i>
      </div>
    </section>
    <section id="menu" class="menu">
      <div class="menu__items"><div class="menu__item menu__search">검색하기</div></div>
    </section>
    <main>
      <section id="intro">
        <div class="intro__left">
          <div class="intro__item">
            <div class="intro__item__box">
              <div class="intro__item__title intro__title">포도&nbsp;</div>
              <div class="intro__item__description">
                우리 주변에서 쉽게 볼수 있는 포도는 특유의 향과 맛으로 인기가 많다. 포도의 당분 성분은 피로회복에 좋고 풍부한 비타민을 함유하고 있다. 특히 포도는 항암 성분을 포함한
                과일로 유명하다.
              </div>
            </div>
            <div class="intro__item__imgs">
              <i class="fas fa-angle-left intro__item__img__left"></i> <img src="/static/img/grape/grape_1.jpg" alt="grape" srcset="" class="intro__item__img__style" />
              <i class="fas fa-angle-right intro__item__img__right"></i>
            </div>
          </div>
        </div>
        <div class="intro__right">
          <div class="intro__class">
            <div class="intro__class__title intro__title">분류&nbsp;</div>
            <div class="intro__class__description intro__description">과일</div>
          </div>
          <div class="intro__kcal">
            <div class="intro__kcal__title intro__title">칼로리&nbsp;</div>
            <div class="intro__kcal__description intro__description">100g 당 67 Kcal</div>
          </div>
          <div class="intro__benefit">
            <div class="intro__benefit__title intro__title">효능&nbsp;</div>
            <div class="intro__benefit__tags intro__description">
              <div class="intro__benefit__item tag">눈 건강</div>
              <div class="intro__benefit__item tag">치아 건강</div>
              <div class="intro__benefit__item tag">항암</div>
              <div class="intro__benefit__item tag">피로 회복</div>
              <div class="intro__benefit__item tag">혈압 개선</div>
              <div class="intro__benefit__item tag">피부 미용</div>
            </div>
          </div>
        </div>
      </section>
      <section id="benefits">
        <div class="benefit" data-benefitnum="0">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">1. 눈 건강에 도움을 준다.&nbsp;</div>
            <div class="benefit__body">포도의 안토사이신 성분은 우리의 시력을 보호한다. 또 눈의 피로감을 줄여 안구건조증이나 백내장 예방에 좋다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/eye.jpg" class="benefit__img__style" alt="eye" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="1">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">2. 치아 건강에 좋다.&nbsp;</div>
            <div class="benefit__body">
              포도는 치아건강에 좋다. 포도의 폴리페놀 성분은 충치를 유발하는 세균들과 바이러스를 효과적으로 제거해준다. 폴리페놀 성분은 포도의 씨앗에 많이 함유되어 있다.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/teeth.jpg" class="benefit__img__style" alt="teeth" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="2">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">3. 항암 효과가 있다.&nbsp;</div>
            <div class="benefit__body">
              포도를 먹는 것은 암세포를 제거하는데 도움을 줄 수 있다. 이는 포도 안에 있는 레스베라테톨이라는 성분때문이다. 이 성분은 황산화작용이 우수하여 암세포가 자라는 것을
              막아준다. 레스베라테톨은 포도 껍질에 많다.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/anticancer.jpg" class="benefit__img__style" alt="anticancer" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="3">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">4. 피로 회복에 좋다.&nbsp;</div>
            <div class="benefit__body">포도가 함유한 포도당 성분은 우리 몸의 피로를 빠르게 회복시켜준다. 또한 풍부한 비타민, 미네랄도 기력 증진에 도움을 준다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/fatigue.jpg" class="benefit__img__style" alt="fatigue" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="4">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">5. 혈압에 좋다.&nbsp;</div>
            <div class="benefit__body">
              포도는 살신산 성분을 함유하고 있는데, 이는 혈관을 깨끗이 만들어 준다. 그 결과로 혈액 순환이 원활하게 이루어지고 혈압을 낮추는데 도음울 준다.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/blood pressure.jpg" class="benefit__img__style" alt="blood pressure" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="5">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">6. 피부를 아름답게 해준다.&nbsp;</div>
            <div class="benefit__body">
              포도는 이뇨작용을 촉진시킨다. 노폐물과 독소를 피부 밖으로 배출시키고 그로 인하여 피부에 트러블을 감소시킨다. 또 항산화 작용으로 피부의 노화를 늦춘다.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/skin.jpg" class="benefit__img__style" alt="skin" srcset="" /></div>
        </div>
        <!-- -->
      </section>
    </main>
    <!-- main END -->
    <div id="adBlock__asdide">
      <div class="adBlock">
        <script>
          new PartnersCoupang.G({ id: adAsideNum });
        </script>
      </div>
      <div class="adBlock">
        <script>
          new PartnersCoupang.G({ id: adAsideNum2 });
        </script>
      </div>
      <div class="adBlock">
        <script>
          new PartnersCoupang.G({ id: adAsideNum });
        </script>
      </div>
    </div>
    <div id="adBlock__footer">
      <script>
        console.log(adFooterNum);
        new PartnersCoupang.G({ id: adFooterNum });
      </script>
    </div>
    <div id="adBlock__test"></div>
    <section id="footer"></section>
    <!-- -->
    <script src="/static/js/load.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/util.js"></script>
  </body>
</html>
