<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <script src="https://kit.fontawesome.com/2f2669a2e9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ads-partners.coupang.com/g.js"></script>
    <script src="/static/js/adNum.js"></script>
    <script data-ad-client="ca-pub-1432916343353764" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>감자의 놀라운 효능 7가지! 알고 먹으면 더 좋은 감자 | Benefit1004</title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/menu.css" />
    <link rel="stylesheet" href="/static/css/search.css" />
    <link rel="stylesheet" href="/static/css/intro.css" />
    <link rel="stylesheet" href="/static/css/benefit.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/ad.css" />
    <!-- Meta -->
    <meta
      name="description"
      content="우리 주변에서 쉽게 찾을 수 있는 감자. 우리가 몰랐던 감자의 효능들에는 무엇이 있을까? 1. 빈혈에 좋습니다. 2. 체중 감량에 도움을 준다. 3. 면역력을 증진시킨다 4. 장 건강에 도움을 준다. 5. 혈압에 좋다. 6. 항암 효과가 있다. 7. 피부를 아름답게 해준다. "
    />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Benefit1004" />
    <meta property="og:title" content=" 감자의 놀라운 효능 7가지! 알고 먹으면 더 좋은 감자 | Benefit1004" />
    <meta
      property="og:description"
      content="우리 주변에서 쉽게 찾을 수 있는 감자 우리가 몰랐던 감자의 효능들에는 무엇이 있을까? 1. 빈혈에 좋습니다. 2. 체중 감량에 도움을 준다. 3. 면역력을 증진시킨다 4. 장 건강에 도움을 준다. 5. 혈압에 좋다. 6. 항암 효과가 있다. 7. 피부를 아름답게 해준다. "
    />
    <meta property="og:image" content="/static/img/potato/potato_1.jpg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="750" />
  </head>
  <body>
    <section id="header">
      <div class="header__logo">Benefit1004</div>
      <div class="header__menu">
        <input type="text" class="header__search__input" placeholder="검색어를 입력하세요." /> <i class="fas fa-search header__search__icon"></i>
        <i class="fas fa-bars header__menu__icon"></i>
      </div>
    </section>
    <section id="menu" class="menu">
      <div class="menu__items"><div class="menu__item menu__search">검색하기</div></div>
    </section>
    <main>
      <section id="intro">
        <div class="intro__left">
          <div class="intro__item">
            <div class="intro__item__box">
              <div class="intro__item__title intro__title">감자&nbsp;</div>
              <div class="intro__item__description">
                우리 주변에서 쉽게 볼수 있는 감자는 맛이 좋을 뿐만 아니라 몸에 좋은 효능들이 많이 있다. 알고 먹으면 더 맛있는 감자. 감자의 효능들에 대해 알아보자.
              </div>
            </div>
            <div class="intro__item__imgs">
              <i class="fas fa-angle-left intro__item__img__left"></i> <img src="/static/img/potato/potato_1.jpg" alt="potato" srcset="" class="intro__item__img__style" />
              <i class="fas fa-angle-right intro__item__img__right"></i>
            </div>
          </div>
        </div>
        <div class="intro__right">
          <div class="intro__class">
            <div class="intro__class__title intro__title">분류&nbsp;</div>
            <div class="intro__class__description intro__description">채소</div>
          </div>
          <div class="intro__kcal">
            <div class="intro__kcal__title intro__title">칼로리&nbsp;</div>
            <div class="intro__kcal__description intro__description">100g 당 58 Kcal</div>
          </div>
          <div class="intro__benefit">
            <div class="intro__benefit__title intro__title">효능&nbsp;</div>
            <div class="intro__benefit__tags intro__description">
              <div class="intro__benefit__item tag">빈혈 예방</div>
              <div class="intro__benefit__item tag">체중 감량</div>
              <div class="intro__benefit__item tag">면역력</div>
              <div class="intro__benefit__item tag">장 건강</div>
              <div class="intro__benefit__item tag">혈압 개선</div>
              <div class="intro__benefit__item tag">항암</div>
              <div class="intro__benefit__item tag">피부 미용</div>
            </div>
          </div>
        </div>
      </section>
      <section id="benefits">
        <div class="benefit" data-benefitnum="0">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">1. 빈혈에 좋습니다.&nbsp;</div>
            <div class="benefit__body">빈혈은 대부분의 경우 철분이 부족한 경우에 발생한다. 감자의 풍부한 철분은 빈혈을 예방하고 증상을 호전시키는데 도움을 준다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/anemia.jpg" class="benefit__img__style" alt="anemia" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="1">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">2. 체중 감량에 도움을 준다.&nbsp;</div>
            <div class="benefit__body">
              감자는 칼로리가 낮고 포만감이 높은 음식이다. 감자는 섬유질 성분이 많아 소화가 잘 되고, 이뇰린 성분은 우리의 지방이 쌓이는 것을 억제한다.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/diet.jpg" class="benefit__img__style" alt="diet" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="2">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">3. 면역력을 증진시킨다&nbsp;</div>
            <div class="benefit__body">감자는 면역력 향상에 효과적이다.이는 감자의 비타민B와 비타민C 성분 때문이다. 이 성분들은 우리 몸의 피로를 풀고, 면역체계를 강화한다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/immunity.jpg" class="benefit__img__style" alt="immunity" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="3">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">4. 장 건강에 도움을 준다.&nbsp;</div>
            <div class="benefit__body">
              감자는 장 안의 유산균이 잘 자랄 수 있는 환경을 만든다. 이는 장 속의 유해균을 억제하고 장을 건강하게 한다. 또 펙틴 성분은 장 운동을 활발하게 만들어 주어 변비를
              예방한다.
            </div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/digestion.jpg" class="benefit__img__style" alt="digestion" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="4">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">5. 혈압에 좋다.&nbsp;</div>
            <div class="benefit__body">감자를 먹는것은 혈압을 내리는데 효과가 있다. 감자의 칼륨은 고혈압을 예방하고 중성지방을 줄여준다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/blood pressure.jpg" class="benefit__img__style" alt="blood pressure" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="5">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">6. 항암 효과가 있다.&nbsp;</div>
            <div class="benefit__body">감자의 폴리페놀 성분은 우리 몸의 암세포가 자라는 것을 억제시킨다. 감자의 항암성분은 감자의 껍질에 많이 들어있다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/anticancer.jpg" class="benefit__img__style" alt="anticancer" srcset="" /></div>
        </div>
        <div class="benefit" data-benefitnum="6">
          <div class="benefit__left">
            <div class="benefit__haeder article__header benefit__title">7. 피부를 아름답게 해준다.&nbsp;</div>
            <div class="benefit__body">감자가 가지고 있는 비타민 C 성분은 피부의 노화를 늦추고 미백작용을 한다. 또한 감자의 판토텐산 성분은 피부의 점막을 건강하게 만든다.</div>
          </div>
          <div class="benefit__right"><img src="/static/img/benefit/skin.jpg" class="benefit__img__style" alt="skin" srcset="" /></div>
        </div>
        <!-- -->
      </section>
    </main>
    <!-- main END -->
    <div id="adBlock__asdide">
      <div class="adBlock">
        <script>
          new PartnersCoupang.G({ id: adAsideNum });
        </script>
      </div>
      <div class="adBlock">
        <script>
          new PartnersCoupang.G({ id: adAsideNum2 });
        </script>
      </div>
      <div class="adBlock">
        <script>
          new PartnersCoupang.G({ id: adAsideNum });
        </script>
      </div>
    </div>
    <div id="adBlock__footer">
      <script>
        new PartnersCoupang.G({ id: adFooterNum });
      </script>
    </div>
    <div id="adBlock__test"></div>
    <section id="footer"></section>
    <!-- -->
    <script src="/static/js/load.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/util.js"></script>
  </body>
</html>
