<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/js/adNum.js"></script>
    <script src="https://kit.fontawesome.com/2f2669a2e9.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/search.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/menu.css" />
    <link rel="stylesheet" href="/static/css/card.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <title>이 세상 모듬 음식의 효능 | Benefit1004</title>
    <!-- Meta -->
    <meta name="description" content="우리 주변에서 볼 수 있는 모든 음식의 효능을 모은 음식 효능 백과사전" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Benefit1004" />
    <meta property="og:title" content="이 세상 모듬 음식의 효능 | Benefit1004" />
    <meta property="og:description" content="우리 주변에서 볼 수 있는 모든 음식의 효능을 모은 음식 효능 백과사전" />
    <meta property="og:image" content="/static/img/logo.png" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="750" />
  </head>
  <body>
    <section id="header"></section>
    <section id="menu" class="menu"></section>
    <main>
      <section id="searchM">
        <input type="text" class="searchM__input searchInput" placeholder="검색어를 입력하세요." />
        <div class="icon__block">
          <i class="fas fa-search searchM__icon"></i>
        </div>
      </section>
      <div class="hr">카테고리</div>
      <section id="cards" class="cards__item"></section>
    </main>

    <section id="footer"></section>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/static/js/load.js"></script>
    <script src="/static/js/category.js"></script>
    <script src="/static/js/search_ko.js"></script>
    <script src="/static/js/indexLayout.js"></script>
    <script>
      let logo = document.querySelector(".header__logo");
      logo.addEventListener("click", () => {
        if (country == "en") {
          window.location = "/en";
        } else if (country == "ko") {
          window.location = "/ko";
        }
      });
    </script>
  </body>
</html>
